body {
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
    display: grid;
    grid-template-rows: 50vh 50vh;
    margin: 0;

}
.keyboard-map{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.text-box{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 2vh;
}
.shown-text{
    color: rgba(255, 255, 255, 0.481);
    font-size: 5vh;
}
.typed-text{
    color: white;
    font-size: 5vh;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
}
.incorrect-space{
    background-color: red;
}
.keyboard-map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.2vh;       
}
.keyboard-btns{
    font-size: 6vh;
    min-width: 10vh;
    min-height: 10vh;
    border: 2.5px solid white; 
    color: white; 
    background: transparent;
    border-radius: 3vh;
    margin: 5px;
    transition: background-color 0.1s ease;
}
.spacebar{
    min-width: 50vh;
}


/*pressing animation*/
.keyboard-btns.pressed{
    background-color: rgba(255, 255, 255, 0.5); /* Change background-color on hover */
}   